.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;
}

.row {
  display: flex;
  gap: 30px;
  align-items: center;
}

.word {
  font-size: 2rem;
  pointer-events: none;
  user-select: none;
}
