.devWrapper {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;

	.devContent {
        position: relative;
		flex: 1;
		overflow: auto;
		background: #ffffff;
	}
}
